<h1>Add a new bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
 <%= f.input :comment %>
 <%# <% = f.input :movie_id, collection: @movies %>
 <%= f.association :movie, collection: @list.other_movies.order(:title) %>
 <%= f.button :submit %>
<% end %>

<%= link_to "Cancel", list_path(@list) %>
