<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav>
      <ul id='nav-list'>
        <div>
          <li><%= image_tag "logo.png", alt: "List Logo", width: 50 %></li>
        </div>
        <div id='nav-items'>
          <li><%= link_to "View All", lists_path %></li>
          <li class='button'><%= link_to "New List", new_list_path %>
        </div>
      </ul>
    </nav>
    <%= yield %>
    <%# <div class="placeholder"></div> %>
  </body>
</html>
